.super-mario {
    width: 200px;
    position: absolute;
    z-index: 1;
    left: 100px;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    z-index: 2;
    top: 350px;
    left: 180px;
  }
  
  .baloon {
    position: absolute;
    left: 400px;
    width: 300px;
    z-index: 4;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    z-index: 5;
    top: 120px;
    left: 415px;
  }
  
  .bowser {
    width: 450px;
    position: absolute;
    z-index: 3;
    left: 670px;
    top: 150px;
  }